@media screen and (max-width: 801px) {
  // ! container
  .container {
    width: 85%;
  }

  .logo {
    width: 35px;
  }
  .logo-link {
    font-size: 18px;
    column-gap: 8px;
  }
  .header-links {
    display: none;
  }
  .mobile-links {
    display: flex;
  }
  .media-links {
    display: block;
  }
  .label-desktop {
    display: block;
  }

  section {
    height: 94vh;
    padding-top: 4vh;
  }
  .section-heading {
    font-size: 24px;
  }
  .section-text {
    font-size: 14px;
  }
  .video-card {
    width: 100%;
    left: 0;
    right: 0;
    row-gap: 5px;
  }
  .video {
    width: 100%;
    border-radius: 0;
  }
  .video {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: black; /* Video bo'sh bo'lsa qora fonda ko'rsatish */
  }
}
